# OPENAI
OPENAI_API_KEY=""

# AWS
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""

# GCP
GOOGLE_APPLICATION_CREDENTIALS=".config/your_credentials.json"

# ANTHROPIC
ANTHROPIC_API_KEY=""

